<template>
  <div>
    <h1>確認画面(Vuexなし)</h1>

    <form @submit.prevent="submit">
      <div>メールアドレス: {{ form.email }}</div>
      <div>名前: {{ form.name }}</div>
      <div>年齢: {{ form.age }}</div>

      <button type="button" @click="$emit('back')">戻る</button>
      <button type="submit">登録する</button>
    </form>
  </div>
</template>

<script>
import UserForm from '../../../forms/UserForm'

export default {
  props: {
    form: {
      type: UserForm,
      required: true
    }
  },
  methods: {
    async submit () {
      // Call API
      await new Promise(resolve => setTimeout(resolve, 1000))

      this.$emit('next')
    }
  }
}
</script>
