<template>
  <div>
    <h1>入力画面1(Vuexなし)</h1>

    <form @submit.prevent="submit">
      <div>
        メールアドレス:
        <input type="email" v-model="syncedEmail">
      </div>

      <ul class="error-list">
        <li v-for="err in errors" :key="err">{{err}}</li>
      </ul>

      <button type="submit">次へ</button>
    </form>
  </div>
</template>

<script>
import UserForm from '../../../forms/UserForm'

export default {
  props: {
    form: {
      type: UserForm,
      required: true
    },
    email: {
      type: String,
      required: true
    }
  },
  computed: {
    syncedEmail: {
      get () {
        return this.email
      },
      set (val) {
        this.$emit('update:email', val)
      }
    }
  },
  data () {
    return {
      errors: []
    }
  },
  methods: {
    submit () {
      this.errors = []
      this.errors = this.errors.concat(this.form.validateEmail())
      if (this.errors.length > 0) {
        return
      }

      this.$emit('next')
    }
  }
}
</script>
