<template>
  <div>
    <h1>入力画面2(Vuexなし)</h1>

    <form @submit.prevent="submit">
      <div>
        名前:
        <input v-model="syncedName">
      </div>
      <div>
        年齢:
        <input type="number" v-model.number="syncedAge">
      </div>

      <ul class="error-list">
        <li v-for="err in errors" :key="err">{{err}}</li>
      </ul>

      <button type="button" @click="$emit('back')">戻る</button>
      <button type="submit">次へ</button>
    </form>
  </div>
</template>

<script>
import UserForm from '../../../forms/UserForm'

export default {
  props: {
    form: {
      type: UserForm,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    age: {
      type: Number,
      required: true
    }
  },
  computed: {
    syncedName: {
      get () {
        return this.name
      },
      set (val) {
        this.$emit('update:name', val)
      }
    },
    syncedAge: {
      get () {
        return this.age
      },
      set (val) {
        this.$emit('update:age', val)
      }
    }
  },
  data () {
    return {
      errors: []
    }
  },
  methods: {
    submit () {
      this.errors = []
      this.errors = this.errors.concat(this.form.validateName())
      this.errors = this.errors.concat(this.form.validateAge())
      if (this.errors.length > 0) {
        return
      }

      this.$emit('next')
    }
  }
}
</script>
