<template>
  <div>
    <transition :name="transitionName" mode="out-in">
      <component
        :is="subPage"
        :form="form"
        :email.sync="form.email"
        :name.sync="form.name"
        :age.sync="form.age"
        @back="back"
        @next="next"
      ></component>
    </transition>
  </div>
</template>

<script>
import UserForm from '../../forms/UserForm'

import Input1SubPage from './subPages/Input1.vue'
import Input2SubPage from './subPages/Input2.vue'
import ConfirmSubPage from './subPages/Confirm.vue'
import CompleteSubPage from './subPages/Complete.vue'

export default {
  data () {
    return {
      form: new UserForm(),
      transitionName: ''
    }
  },
  computed: {
    subPage () {
      switch (this.$route.hash) {
        case '#input2':
          return Input2SubPage
        case '#confirm':
          return ConfirmSubPage
        case '#complete':
          return CompleteSubPage
        default:
          return Input1SubPage
      }
    }
  },
  methods: {
    back () {
      this.transitionName = 'slide-back'
      switch (this.$route.hash) {
        case '#input2':
          this.$router.push({ hash: '#input1' })
          break
        case '#confirm':
          this.$router.push({ hash: '#input2' })
          break
      }
    },
    next () {
      this.transitionName = 'slide-next'
      switch (this.$route.hash) {
        case '#input2':
          this.$router.push({ hash: '#confirm' })
          break
        case '#confirm':
          this.$router.push({ hash: '#complete' })
          break
        default:
          this.$router.push({ hash: '#input2' })
          break
      }
    }
  }
}
</script>

<style>
.error-list {
  list-style-type: none;
  color: red;
}
</style>

<style scoped>
.slide-next-enter-active,
.slide-next-leave-active,
.slide-back-enter-active,
.slide-back-leave-active {
  transition: all 0.15s ease;
}
.slide-next-enter,
.slide-back-leave-to {
  transform: translateX(20%);
  opacity: 0;
}
.slide-next-leave-to,
.slide-back-enter {
  transform: translateX(-20%);
  opacity: 0;
}
</style>
