<template>
  <div>
    <div>
      メールアドレス:
      <input type="email" v-model="syncedEmail">
    </div>
    <div>
      名前:
      <input v-model="syncedName">
    </div>
    <div>
      年齢:
      <input type="number" v-model.number="syncedAge">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    email: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    age: {
      type: Number,
      required: true
    }
  },
  computed: {
    // v-modelを使って update:email イベントを発生させたいので、
    // getter/setterを使ったトリックを使用。
    syncedEmail: {
      get () {
        return this.email
      },
      set (val) {
        this.$emit('update:email', val)
      }
    },
    syncedName: {
      get () {
        return this.name
      },
      set (val) {
        this.$emit('update:name', val)
      }
    },
    syncedAge: {
      get () {
        return this.age
      },
      set (val) {
        this.$emit('update:age', val)
      }
    }
  }
}
</script>
