<template>
  <div>
    <h1>確認画面(Vuexあり)</h1>

    <form @submit.prevent="submit">
      <div>email: {{ email }}</div>
      <div>name: {{ name }}</div>
      <div>age: {{ age }}</div>

      <router-link to="/with_vuex/input2">
        <button>戻る</button>
      </router-link>
      <button type="submit">登録する</button>
    </form>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      email: state => state.userForm.email,
      name: state => state.userForm.name,
      age: state => state.userForm.age
    })
  },
  methods: {
    ...mapMutations({
      clearUserForm: 'userForm/clear'
    }),
    ...mapActions({
      submitUserForm: 'userForm/submit'
    }),
    async submit () {
      await this.submitUserForm()

      this.clearUserForm()
      this.$router.push('/with_vuex/complete')
    }
  }
}
</script>
