<template>
  <div>
    <h1>入力画面2(Vuexあり)</h1>

    <form @submit.prevent="submit">
      <div>
        名前:
        <input v-model="$store.state.userForm.name">
      </div>
      <div>
        年齢:
        <input type="number" v-model.number="$store.state.userForm.age">
      </div>

      <router-link to="/with_vuex/input1">
        <button>戻る</button>
      </router-link>
      <button type="submit">次へ</button>
    </form>
  </div>
</template>

<script>
export default {
  methods: {
    submit () {
      // validate data and do somethings ...

      this.$router.push('/with_vuex/confirm')
    }
  }
}
</script>
