<template>
  <div>
    <h1>入力画面1(Vuexあり)</h1>

    <form @submit.prevent="submit">
      <div>
        メールアドレス:
        <input v-model="$store.state.userForm.email">
      </div>

      <button type="submit">次へ</button>
    </form>
  </div>
</template>

<script>
export default {
  methods: {
    submit () {
      // validate data and do somethings ...

      this.$router.push('/with_vuex/input2')
    }
  }
}
</script>
