<template>
  <div>
    <child :email.sync="form.email" :name.sync="form.name" :age.sync="form.age">
      <!--
        :email.sync="form.email" は
        :email="form.email" と
        @update:email="form.email = $event" の2つを指定したのと同じ。
        そのため、子コンポーネントからemailの値を変更したい場合、
        $emit('update:email', 'newValue') をすれば更新できる。
      -->
    </child>
  </div>
</template>

<script>
// UserFormは、email, name, ageの3つの属性を持つオブジェクト
// 最終的には、バリデーションなどの機能も追加予定。
import UserForm from '../../forms/UserForm'

import Child from './components/Child'

export default {
  components: {
    Child
  },
  data () {
    return {
      form: new UserForm()
    }
  }
}
</script>
